[Desktop Entry]
Type=Application
Name=omegav-daemon
Exec=$PATH
Icon=/home/$USER/.local/share/icons/hicolor/200x200/apps/OV.png
Comment=Notifies you when OmegaV opens or closes
X-GNOME-Autostart-enabled=true
