[Desktop Entry]
Type=Application
Name=omegav-daemon
Exec=omegav-daemon
Icon=OV
Comment=Notifies you when OmegaV opens or closes
X-GNOME-Autostart-enabled=true